/* body {
    background-color: #f4f5f6;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    height: 95px;
    background: rgb(247, 34, 16);
}

.header-main .header-left {
    height: 100%;
    padding: 0 0 20px 30px;
}

.header-main .header-left a {
    font-size: 14px;
    padding-top: 10px;
}

.header-main .header-left a:hover {
    text-decoration: none;
}

.header-main .header-left a .icon-weather {
    height: 25px;
    width: 25px;
    position: relative;
    top: 7px;
}

.header-main .header-left a .icon-arrow {
    height: 12px;
    width: 12px;
}

.header-main .header-left .date {
    font-size: 16px;
}

.header-center a {
    width: 396px;
    height: 60px;
    fill: white;
}

@media only screen and (max-width:992px) {
    header {
        height: 50px;
    }
} */

 :root {
    --light-red: #f72210;
    --light-gray: #a0a0a0;
    --light-blue: #3581f4;
    --weak-gray: #bababa;
}

body {
    background-color: rgb(244, 245, 247);
    color: #333;
    font: 13px/18px Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body p {
    color: black;
}

body a:hover {
    text-decoration: none;
}

.header-top {
    height: 50px;
    background: var(--light-red);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.header-top .row .logo-small a svg {
    height: 20px;
    width: 132px;
    fill: white;
}

.header-top .row .weather-location a .icon-weather {
    height: 25px;
    width: 25px;
    position: relative;
    top: 7px;
}

.header-top .row .header-right .btn-sign-in,
.header-top .row .header-right .btn-subscribe {
    position: relative;
    font: bold 14px/14px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 3px;
    border-radius: 0;
}

.header-top .row .icon-menu a i {
    font-size: 24px;
    color: #fb9a94;
    position: fixed;
    right: 15px;
    top: 10px;
}

.main-section .row .item .item-tag a {
    display: block;
    background-color: rgb(232, 239, 250);
    color: var(--light-red);
    font: 17px/16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    padding: 8px 15px 9px;
    position: absolute;
    bottom: 5px
}

.opinion .list-container .list-opinion .item {
    padding: 12px 0 8px 0;
    font-family: "Roboto Condensd", sans-serif;
}

.debate .image-1 {
    border-top: 4px solid #f92859;
}

.debate .image-2 {
    border-top: 4px solid #1c87fb;
}

.debate .author-name {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: black;
    text-transform: uppercase;
    margin-top: 4px;
}

.debate .author-name ::before {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
}

.debate .author-name ::after {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}

.debate .author-name a .author-image {
    height: 63px;
    width: 63px;
}

.debate .vs-sphere {
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/40px "Roboto Condensed", sans-serif;
    text-align: center;
    margin: 14px auto 18px;
}

.sponsored .card .image img {
    height: auto;
    width: 100%;
}

.sponsored .card .image .item-tag p {
    display: block;
    background-color: rgb(232, 239, 250);
    color: #3581f4;
    font: 17px/16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    padding: 8px 15px 9px;
    position: absolute;
    bottom: 5px;
}

.pandemic-heros .card .image a img {
    width: 100%;
}

.pandemic-heros .card .image .item-tag a {
    display: block;
    background-color: #c2d4d7;
    color: #272727;
    font: 300 13px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
    padding: 1px 6px 1px;
    position: absolute;
    bottom: 5px;
    text-transform: capitalize;
}

.pandemic-heros .card .image .item-tag a:hover {
    background-color: #272727;
    color: #c2d4d7;
}

.sponsored-bottom .sign-up-box {
    max-width: 300px;
    margin: 0 auto 30px;
    border: 1px solid #e5e5e5;
    background-color: #f4f5f6;
    padding: 20px;
}

.sponsored-bottom .sign-up-box .title {
    font: bold 19px/19px "Roboto Condensed", sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.sponsored-bottom .sign-up-box .title .icon {
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
    margin-right: 10px;
}

.sponsored-bottom .sign-up-box .sign-up-btn {
    display: inline-block;
    padding: 10px 10px 10px 12px;
    color: white;
    font: bold 18px/18px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    background-color: #666;
}

.sponsored-bottom .sign-up-box .sign-up-btn::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
    background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg) center/contain no-repeat;
}

.sponsored-bottom .sign-up-box .preferences {
    color: #333;
    font: bold 15px/15px "Roboto Condensed", sans-serif;
}

@media only screen and (min-width:401px) {
    .header-top .row .weather-location {
        display: inline-block !important;
    }
}