:root {
    --light-red: #f72210;
}

body {
    color: #333;
    background-color: white;
    overflow-x: hidden;
    font: 13px/18px Arial, Helvetica, sans-serif;
}

body p {
    color: black;
}

body a:hover {
    text-decoration: underline;
    text-decoration-color: var(--light-red);
}

.top-story .card .item-tag a,
.featured-stories .card .item-tag a,
.in-the-magazine .card-1 .item-tag a,
.editors-pick .card .item-tag a {
    display: block;
    background-color: rgb(232, 239, 250);
    color: var(--light-red);
    font: 17px/16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    padding: 8px 15px 9px;
    position: absolute;
    bottom: 5px;
}

.top-story .card .image img,
.featured-stories .card .image img,
.sponsored .card .image img,
.editors-pick .card .image img,
.pandemic-heros .card .image a img {
    height: auto;
    width: 100%;
}

.opinion .list-container .list-opinion .item {
    padding: 12px 0 8px 0;
    font-family: "Roboto Condensd", sans-serif;
}

.debate .image-1 {
    border-top: 4px solid #f92859;
}

.debate .image-2 {
    border-top: 4px solid #1c87fb;
}

.debate .author-name {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: black;
    text-transform: uppercase;
    margin-top: 4px;
}

.debate .author-name ::before {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
}

.debate .author-name ::after {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}

.debate .author-name a .author-image {
    height: 63px;
    width: 63px;
}

.debate .vs-sphere {
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/40px "Roboto Condensed", sans-serif;
    text-align: center;
    margin: 14px auto 18px;
}

.sponsored .card .image .item-tag p {
    display: block;
    background-color: rgb(232, 239, 250);
    color: #3581f4;
    font: 17px/16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    padding: 8px 15px 9px;
    position: absolute;
    bottom: 5px;
}

.sponsored .card .card-body a .card-title {
    font: 20px/20px "Roboto Condensed", sans-serif;
}

.pandemic-heros .card .image .item-tag a {
    display: block;
    background-color: #c2d4d7;
    color: #272727;
    font: 300 13px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
    padding: 1px 6px 1px;
    position: absolute;
    bottom: 5px;
    text-transform: capitalize;
}

.pandemic-heros .card .image .item-tag a:hover {
    background-color: #272727;
    color: #c2d4d7;
}

.sponsored-bottom .sign-up-box {
    max-width: 300px;
    margin: 0 auto 30px;
    border: 1px solid #e5e5e5;
    background-color: #f4f5f6;
    padding: 20px;
}

.sponsored-bottom .sign-up-box .title,
.in-the-magazine .title,
.editors-pick .title {
    font: bold 19px/19px "Roboto Condensed", sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.sponsored-bottom .sign-up-box .title .icon,
.in-the-magazine .title .icon,
.editors-pick .title .icon {
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
    background: url('https://g.newsweek.com/www/images/logo-n1.svg') center/contain no-repeat #f72210;
    margin-right: 10px;
}

.editors-pick .card .card-body a .card-title {
    font: 20px/20px "Roboto Condensed", sans-serif;
}

.sponsored-bottom .sign-up-box .sign-up-btn {
    display: inline-block;
    padding: 10px 10px 10px 12px;
    color: white;
    font: bold 18px/18px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    background-color: #666;
}

.sponsored-bottom .sign-up-box .sign-up-btn::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
    background: url('https://g.newsweek.com/www/images/icon-arrow-right.svg') center/contain no-repeat;
}

.sponsored-bottom .sign-up-box .preferences {
    color: #333;
    font: bold 15px/15px "Roboto Condensed", sans-serif;
}

.in-the-magazine .card-1 .item-tag a {
    background-color: rgba(255, 255, 255, .9);
}

.in-the-magazine .card-1 .card-body-1 .features {
    display: block;
    background-color: #f4f5f6;
    color: black;
    font: bold 18px/18px "Roboto Condensed", sans-serif;
    padding: 10px 10px 10px 12px;
}

.in-the-magazine .card-1 .card-body-1 .features::after {
    content: "";
    background: url('https://g.newsweek.com/www/images/icon-arrow-right.svg') center/contain no-repeat black;
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
}

.in-the-magazine .card .item-tag-new p {
    padding: 0 7px;
    background-color: var(--light-red);
    color: white;
    margin-right: 7px;
    font: bold 16px/26px "Roboto Condensed", sans-serif;
}

.in-the-magazine .card .item-tag-new a {
    font: bold 16px/26px "Roboto Condensed", sans-serif;
    color: var(--light-red);
}

.in-the-magazine .card .card-body-new a {
    color: black;
    font: bold 16px/16px "Roboto Condensed", sans-serif;
}

.in-the-magazine .card-8 .item-tag a {
    background: var(--light-red);
    color: white;
    padding: 7px;
    position: absolute;
    bottom: 5px;
    font: 17px/16px "Roboto Condensed", sans-serif;
}

.in-the-magazine .card-8 .card-body-8 a {
    font: 16px/16px "Roboto Condensed", sans-serif;
    color: black;
}

.section-us .section-title,
.section-world .section-title,
.section-business .section-title,
.section-science-tech .section-title,
.section-culture .section-title,
.section-sports .section-title {
    font: 22px/22px "Roboto Condensed", sans-serif;
    color: var(--light-red);
}

.section-us .card .card-body a,
.section-world .card .card-body a,
.section-business .card .card-body a,
.section-science-tech .card .card-body a,
.section-culture .card .card-body a,
.section-sports .card .card-body a {
    font: 18px/18px "Roboto Condensed", sans-serif;
    color: black;
}

.section-us .card-3 ul li .info a,
.section-world .card-3 ul li .info a,
.section-business .card-3 ul li .info a,
.section-science-tech .card-3 ul li .info a,
.section-culture .card-3 ul li .info a,
.section-sports .card-3 ul li .info a {
    font: bold 17px/21px "Roboto Condensed", sans-serif;
    color: black;
}

.section-subscribe .section-title {
    font: 16px "Roboto Condensed", sans-serif;
    color: var(--light-red);
}

.section-subscribe .subscribe .card {
    background-color: #f4f5f6;
    padding: 24px 20px 20px;
}

.section-subscribe .subscribe .card .images {
    position: relative;
    padding-bottom: 13px;
    padding-right: 90px;
}

.section-subscribe .subscribe .card .images .mag-thumb {
    width: 170px;
    height: 228px;
}

.section-subscribe .subscribe .card .images .current {
    position: absolute;
    top: 13px;
    left: 80px;
}

.section-subscribe .card .info .h6 {
    font: 20px/28px "Roboto Condensed", sans-serif;
    position: relative;
    color: black;
}

.section-subscribe .card .info .membership {
    font: 300 15px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 25px;
}

.section-subscribe .card .btnsub {
    padding: 10px 10px 10px 12px;
    background-color: var(--light-red);
    font: 18px/18px "Roboto Condensed", sans-serif;
}

.section-subscribe .newsletter .card {
    flex: 1;
}

.section-subscribe .newsletter .card .images {
    height: 160px;
    width: 100%;
}

.section-subscribe .newsletter .card .images img {
    height: 100%;
    object-fit: cover;
}

.section-subscribe .card .btnsub::after {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
    background: url('https://g.newsweek.com/www/images/icon-arrow-right.svg') center/contain no-repeat;
}

.section-subscribe .blank-space,
.blank-space {
    height: 18px;
    background-color: #f4f5f7;
    border-top: 1px solid #e2e2e2;
    margin: 0 -15px;
}

.page-footer .footer-top .brand svg {
    width: 236px;
    height: 36px;
    fill: #f72210;
}

.page-footer .footer-top .copyright {
    font-size: 12px;
    line-height: 12px;
}

.page-footer .footer-top .icons-social .s-icon {
    font-size: 26px;
    text-align: center;
    color: #666;
}

.page-footer .footer-top .icons-social .s-icon:hover {
    color: #1DA1F2;
}

.page-footer .footer-links {
    font-size: 14px;
    line-height: 15px;
}

.page-header .header-top {
    background: var(--light-red);
    height: 50px;
    z-index: 2;
}

.page-header .header-top .left {
    font: bold 15px/34px "Roboto Condensed", sans-serif;
}

.page-header .header-top .left .logo-small .brand svg {
    height: 20px;
    width: 132px;
    fill: white;
}

.page-header .header-top .left .weather-box .anchor-weather .weather-indicator {
    width: 24px;
    height: 24px;
    vertical-align: text-top;
}

.page-header .header-top .left .weather-box .anchor-weather .weather-country .weather-arrow {
    height: auto;
    width: 6px;
    vertical-align: baseline;
}

.page-header .header-top .right {
    position: absolute;
    top: 12px;
    right: 22px;
}

.page-header .header-top .right .btn-sign-in,
.page-header .header-top .right .btn-subscribe {
    position: relative;
    font: bold 17px "Roboto Condensed", sans-serif;
    display: inline-block;
}

.page-header .header-top .right .btn-sign-in {
    padding: 4px 12px 1px 12px;
}

.page-header .header-top .right .btn-subscribe {
    color: var(--light-red);
    padding: 4px 10px 1px 10px;
}

.page-header .header-top .right svg {
    fill: var(--light-red);
    width: 8px;
    height: auto;
    padding-bottom: 5px;
    margin-left: 10px;
}

.page-header .header-top .right .generic-menu {
    cursor: pointer;
    font-size: 26px;
    text-align: center;
    vertical-align: top;
    color: #fb9a94;
}

.page-header .header-bottom {
    padding: 15px 0px 15px 0 !important;
    border-bottom: 2px solid #f4f5f6;
    position: relative;
}

.page-header .header-bottom .navbar {
    padding: 0 !important;
    flex: 1;
}

.page-header .header-bottom .navbar .navbar-nav {
    font: bold 19px/24px "Roboto Condensed", sans-serif;
    width: 100%;
}

.page-header .header-bottom .navbar .navbar-nav .nav-item {
    border-left: 1px solid #d9d9d9;
    flex-grow: 1;
    text-align: center;
}

.page-header .header-bottom .navbar .navbar-nav :first-child {
    border-left: 0;
}

.page-header .header-bottom .navbar .navbar-nav .nav-item a {
    color: black;
    padding: 0;
}

.page-header .header-bottom .navbar .navbar-nav .nav-item a:hover {
    color: var(--light-red);
}

.page-header .header-bottom .navbar .form-inline .form-control {
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
    background-size: 20px 20px;
}

@media only screen and (min-width: 992px) {
    .page-header .header-top {
        background-color: var(--light-red);
        height: 95px;
        padding: 20px 10px 15px !important;
    }
    .page-header .outer {
        display: block;
        position: absolute;
        right: 0;
        width: 66px;
        background-color: #f72210;
        border-left: 12px solid white;
        border-top: 13px solid #f72210;
    }
    .page-header .header-top .left {
        font: 16px/34px "Roboto Condensed", sans-serif;
    }
    .page-header .header-top .right {
        position: absolute;
        top: 55px;
        right: 22px;
    }
    .page-header .logo-large {
        z-index: 5;
        position: absolute;
        top: 20px;
        left: 32%;
    }
    .page-header .logo-large .brand svg {
        fill: white;
        height: 60px;
        width: 396px;
    }
    .section-subscribe .newsletter .card .images {
        width: 100% !important;
        height: 283px !important;
    }
    .section-subscribe .newsletter .card .images img {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .sponsored-bottom .card {
        width: 350px;
    }
    .in-the-magazine .card-medium a img {
        height: 237.5px;
        object-fit: cover;
    }
    .in-the-magazine .card-medium .card-body-new a {
        font-size: 18px;
    }
    .section-subscribe .subscribe .card {
        padding: 30px;
    }
    .section-subscribe .newsletter .card .pad {
        padding: 30px;
    }
    .section-subscribe .newsletter .card .images {
        height: 196px;
        width: 191px;
    }
    .section-subscribe .newsletter .card .images img {
        height: 100%;
        width: 100%;
    }
    .blank-space {
        height: 1px;
    }
    .page-footer .footer-links .menu li {
        border-right: 1px solid #d9d9d9;
    }
    .page-footer .footer-links .menu li:last-child {
        border-right: 0;
    }
}

@media only screen and (max-width: 640px) {
    .header-top .left .weather-box .anchor-weather .weather-country {
        display: none;
    }
}

@media only screen and (max-width: 481px) {
    .page-header .header-top .right .btn-sign-in {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 14px;
    }
    .page-header .header-top .right .btn-subscribe {
        font-size: 14px;
        padding-right: 10px;
    }
    .page-header .header-top .right svg {
        display: inline-block;
        width: 8px;
        height: 14px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .header-top .left .weather-box .anchor-weather .weather-indicator,
    .header-top .left .weather-box .anchor-weather .temp {
        display: none;
    }
}